.radio-wrapper {
    cursor: pointer;
    display: flex;
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;
    background-color: var(--input-base);
}

.radio-inner {
    margin: .25rem;
    padding: .57rem 1.25rem;
    position: relative;
    
    gap: .5rem;

    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
        
    }
    
    &:has(:checked) {
        background-color: var(--shape-body);
        border-radius: .25rem;
        color: var(--text-heading);

        & svg path {
            fill: var(--brand-light);
        }
    }
    

}