.about {
    & .radio-wrapper {
        cursor: pointer;
        display: flex;
        border: 1px solid var(--input-stroke);
        border-radius: .5rem;
        background-color: var(--input-base);
    }
    
    & .radio-inner {
        margin: .25rem;
        padding: .57rem 1.25rem;
        position: relative;
        
        gap: .5rem;
    
        & input,
        & input:focus,
        & input:hover {
            all: unset;
            position: absolute;
            inset: 0;
            
        }
        
        &:has(:checked) {
            background-color: var(--shape-body);
            border-radius: .25rem;
            color: var(--text-heading);
    
            & svg path {
                fill: var(--brand-light);
            }
        }
    }
}

.personalization {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    & label {
        display: inline-block;
    }

    & .radio-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));

        & .radio-inner {
            border: 2px solid transparent;
            border-radius: 999px;
            width: 2.5rem;
            height: 2.5rem;
            position: relative;

            & span {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 999px;
                border: 6px solid var(--shape-button);
            }

            & input {
                all: unset;
                position: absolute;
                inset: 0;
            }

            &:has(:checked) {
                border-color: var(--brand-light);
            }

            &:hover, &:focus-within {
                cursor: pointer;
                & span {
                    border-color: var(--shape-hover);
                }
            }

            
        }
        & #light-blue-button {           
            & span {
                background-color: var(--brand-light);
            }
        }

        & #navy-button {           
            & span {
                background-color: var(--navy);
            }
        }

        & #purple-button {           
            & span {
                background-color: var(--purple);
            }
        }

        & #fuschia-button {           
            & span {
                background-color: var(--fuschia);
            }
        }

        & #pink-button {           
            & span {
                background-color: var(--pink);
            }
        }

        & #red-button {           
            & span {
                background-color: var(--danger);
            }
        }

        & #orange-button {           
            & span {
                background-color: var(--orange);
            }
        }

        & #yellow-button {           
            & span {
                background-color: var(--yellow);
            }
        }

        & #lime-button {           
            & span {
                background-color: var(--lime);
            }
        }

        & #green-button {           
            & span {
                background-color: var(--green);
            }
        }

        & #cyan-button {           
            & span {
                background-color: var(--cyan);
            }
        }
        
    }
}

.grid-layout {
    
    & .radio-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(8.75rem, 1fr));
    gap: .5rem;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--shape-button);
        padding: 3px;
        border-radius: .5rem;
        border: 1px solid var(--input-stroke);
        position: relative;

        & img {
            border-radius: 4px;
            width: 100%;
        }

        & input {
            all: unset;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        & label {
            all: unset;
            color: var(--text-heading);
            font-family: var(--font-body-md);
            padding-block: 8px 4px;            
        }

        &:hover,
        &:focus-within {
            cursor: pointer;
            background-color: var(--shape-hover);
            border: none;
        }

        &:has(:checked) {
            border: 2px solid var(--brand-light);
        }
    }
    }
}
