@import url(fields/input.css);


fieldset{
    border: none;
    
}

legend {
    padding-block: 3rem .5rem;
    display: flex;
    align-items: center;
    gap: .75rem;
    font: var(--font-heading-sm);
    color: var(--text-heading);
}