* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* fonts family*/
    --family-leckerli: "Leckerli One", serif;
    --family-baloo: "Baloo 2", serif;
    --family-open: "Open Sans", serif;

    /* fonts */
    --font-logo: normal 2.5rem var(--family-leckerli);
    --font-heading-md: bold 1.75rem var(--family-baloo);
    --font-heading-sm: bold 1.12rem var(--family-baloo);
    --font-body-md: normal 1rem var(--family-open);
    --font-body-sm: normal .87rem var(--family-open);
    --font-body-xs: normal .75rem var(--family-open);

    /* colors */
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;

    --danger: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;
}

body {
    background-color: var(--shape-background);
    color: var(--text-body);
    font: var(--font-body-md);
    overflow: hidden;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}