#app {
    display: grid;
    padding: 1.25rem;
    grid-template-columns: 31.25% 68.75%;
    height: 100vh;
    overflow: hidden;
    gap: 1.25rem;
}

aside {
    border-radius: .75rem;
    background: url(../assets/Background.png) no-repeat;
    background-size: cover;
    
    .aside-container {
        padding: 2rem;        
    
        & img {
            max-width: 3rem;
        }
    
        & h1 {
            padding-block: 1rem .25rem;
            font: var(--font-logo);
            color: var(--pink);
        }
    
        & p {
            color: var(--text-heading);
        }
    }
}





main {
    overflow: auto;
}